/*
por id
*/
#title {
    color: purple;
}
/*
selector de tag
*/
p {
    color: red;
    background-color: black;
    color: white; /* css funciona por cascada se sobre escribe y hace que prevalezca lo ultimo que se escribio */ 
}
.purple {
    color: purple;
}


p {
    color: green;
}

/*
selector de class
este metodo va a tener un mayor nivel de especificidad en la web (si esta arriba seguira siendo prioritario sobre otro posible estilo que se añada mas abajo)
*/
.white-bg {
    background-color: white;
}