/*button*/

.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    text-decoration: none;
    padding: 0.7rem;
    display: inline-block;
    margin-top: 1px;
    border-radius: 10px;
}