.footer {
    background-color: blue;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 40px;
    margin-left: 20px;

    margin: 200px 40px 250px 20px;
    margin: 40px;
    padding: 20px;
    border-color: red;
    border-width: 1px;
    border-style: solid;

    border: 2px solid red;

    text-align: center;
}